.header-container {
    align-items: center;
    background-color: rgb(37, 42, 44);
    display: flex;
    justify-content: center;
    margin-left: calc(-50vw + 50%);
    margin: 0;
    min-height: 100px;
    overflow-x: hidden;
    width: 100%;
}

.header-max-width {
    max-width: 950px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header-logo {
    width: 10%;
    height: 10%;
}

.log {
  background-color: rgb(38, 133, 38);
  padding: 4px 9px;
  border: 2px solid rgb(15, 49, 15);
  font-size: large;
  color: white;
  cursor: pointer;
}